body{ 
    font-family: 'Recursive', sans-serif; 
    font-size: 13px;
    margin: 0 
}

.container{
    display: flex;
    margin: 0 auto;

    @media #{$phone-width}{
        display: block;
    }
}
