#sidebar{
    width: 300px;
    position: fixed;
    background-color: $color-light;
    padding: 0 15px;
    height: 100%;
    
    @media #{$phone-width}{
        width: 100%;
        height: 100%;
        position: relative; 
        padding: 0 0 1rem 0;
    }
    
    .summary{

        text-align: center;

        .profile-pic{
            border-radius: 100%;
            width: 100%;
            max-width: 200px;
            height: auto;
        }

        
    }

    .skills-section{
        @media #{$phone-width}{ text-align: center; }

        i{ color: $color-primary }

        table{

            @media #{$phone-width}{ margin: 0 auto; }

            td{ 
                white-space: nowrap;
                padding: 0 .25rem 
            }

            .skill-score{
                border-bottom: 1px solid $color-dark;
            }

        }
    }
}