$color-dark: #635D5C;
$color-light: #FFDD99;
$color-white: #f7f7f7;
$color-primary: #CC2936;

$phone-width: "only screen and (max-width: 576px)";

body{ font-family: 'Recursive', sans-serif; margin: 0 }

.content{
    margin: 0 auto;
    display: flex;

    .summary{
        text-align: center;

        .profile-pic{
            border-radius: 100%;
            width: 100%;
            max-width: 400px;
            height: auto;
        }

        
    }

    .skills-section{
        i{ color: $color-primary }

        table{

            td{ 
                white-space: nowrap;
                padding: 0 .25rem 
            }

            .skill-score{
                border-bottom: 1px solid $color-dark;
            }

        }
    }

    #projects{

        
        h3{ 
            font-size: 1.5rem;
            text-align: center; 
            color: $color-light; 
        }
        
        color: $color-white;
        background-color: $color-dark;
        
        .project{
            border: 1px solid $color-light;
            background-color: $color-white;
            color: $color-dark;
            padding: 1rem;
            margin-bottom: 1rem;
            
            header > a{ 
                color: $color-primary;
                text-decoration: none;
                font-weight: 700;
                font-size: 1.25rem;
            }

            .project-links{ justify-content: flex-start; }

            .title{ margin: .5rem 0 }

            ul{ padding-bottom: 1rem; }

            img{ 
                border:1px solid $color-light;
                width: 90%; 
            }
            
        }

        .tag{
            background-color: $color-primary;
            color: $color-white;
            border: 1px solid $color-white;
            padding: .25rem .5rem;
            cursor: pointer;
        }
    }

}

.project-links{
    display: flex;
    align-items: flex-end;
    justify-content: center;

    a{
        white-space: nowrap;
        color: $color-dark;
        text-decoration: none;
        border-right: 1px solid $color-dark;
        padding: 0 .5rem;

        i{ 
            font-size: 1.5rem;
            color: $color-primary;
            padding-right: 0.25rem; 
        }

        &:first-child{
            padding-right: .5rem;
        }

        &:last-child{
            padding-left: .5rem;
            border: none;
        }
    }
}

.col-4{
    background-color: $color-light;
    padding: 0 15px;
    width: 33.333%;
}

.col-8{
    padding: 0 15px;
    width: 66.666%;
}

@media #{$phone-width}{
    .col-4, .col-8{ width: 100% }
    .content{ flex-direction: column; }
}
